<div class="main-content">
    <div class="header-content">
        <div class="person-detail-text">
            Person Details
        </div>

        <div>
            <button class="add-button" routerLink="addPerson">
                <span> + Add Person</span>
            </button>
        </div>
    </div>
    <div id="table-main" class="table-main">
        <table id="table-display" class="table">
            <thead>
                <tr>
                    <th>Fullname</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip Code</th>
                    <th>Phone Number</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody class="table-detail">
                <tr *ngFor="let person of list">
                    <th>{{person.firstName+" "+person.lastName}}</th>
                    <th>{{person.address}}</th>
                    <th>{{person.city}}</th>
                    <th>{{person.state}}</th>
                    <th>{{person.pin}}</th>
                    <th>{{person.phoneNo}}</th>
                    <th>
                        <div class="actions-icons">
                            <mat-icon id="{{person.contactId}}" (click)="onDelete(person.contactId)">delete</mat-icon>
                            <mat-icon id="{{person.contactId}}" (click)="onUpdate(person.contactId,person)">edit
                            </mat-icon>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>